.App {
  display: flex;
  flex-direction: column;
}

.App-dialog{
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(50%, 0%);
}

.App-header {
  background-color: #282c34;
  min-height: 5vh;
  width: '100%';
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-body {
  display: flex;
  flex-direction: column;
  border: #61dafb solid 1px;
  height: '100%';
}

.App-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  padding: 5px;
  width: 100%;
}

.form-container {
  /* font-size: 12px; */
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: stretch;
  justify-content: center;
  align-items: stretch;
  width: 45vh;
}

.App-button-container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}

.App-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: #61dafb solid 1px;
  padding: 10px;
  border-radius: 10px;
  background-color: #a7f2f7;
  margin-top: 150px;
  width: 50vh;
  }

.App-table-box {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  border: #61dafb solid 1px;
  padding: 10px;
  border-radius: 10px;
  background-color: #a7f2f7;
  margin-top: 150px;
  width:90%;
  border: #61dafb solid 2px;
}

.table-tr {
  background-color: paleturquoise;
  padding: 5px;
  border-radius: 3px;
}

.table-td {
  background-color: paleturquoise;
  padding: 2px;
  border-radius: 3px;
}

.App-link {
  color: #61dafb;
}